In [113]:
#Lire le fichier « chomage_zone.xlsx » avec la librairie pandas et
#l’assigner à une variable data. 
#• Ignorer les 5 première lignes.
#• Utiliser le noms des colonnes contenu dans la 1 ère ligne du fichier.
#• Le fichier contient plusieurs feuilles, sélectionner la bonne feuille à charger.
import pandas as pd
data = pd.read_excel('/home/simplon/Téléchargements/chomage_zone.xls',1,skiprows=5
)
#Afficher les premières lignes du dataframe.
print (data.head())

  ZE2010         LIBZE2010  REG         LIBREG  2003-T1  2003-T2  2003-T3  \
0   0050    Mont-de-Marsan  0.0  interrégional      6.0      6.1      6.0
1   0051           Alençon  0.0  interrégional      7.2      7.5      7.2
2   0052     Cosne-Clamecy  0.0  interrégional      7.5      7.6      7.4
3   0053             Mâcon  0.0  interrégional      5.3      5.3      5.2
4   0054  Nogent-le-Rotrou  0.0  interrégional      5.9      6.3      6.4

   2003-T4  2004-T1  2004-T2  ...  2017-T4  2018-T1  2018-T2  2018-T3  \
0      6.3      6.4      6.2  ...      7.3      7.4      7.1      7.0
1      7.6      7.7      7.4  ...      8.3      8.6      8.4      8.4
2      7.8      8.0      7.7  ...      8.1      8.3      8.1      7.9
3      5.3      5.4      5.4  ...      6.4      6.5      6.5      6.4
4      7.0      7.3      7.2  ...      8.1      8.3      8.1      8.0

   2018-T4  2019-T1  2019-T2  2019-T3  2019-T4  2020-T1
0      6.7      6.8      6.7      6.7      6.5      6.1
1      8.1      8.1      7.9      7.9      7.8      7.4
2      7.5      7.5      7.2      7.4      7.2      6.8
3      6.3      6.4      6.3      6.3      6.1      5.9
4      7.9      7.9      7.8      8.0      7.4      7.1

[5 rows x 73 columns]

In [114]:
#• Afficher le noms des colonnes avec l’attribut columns.
print(data.columns)

Index(['ZE2010', 'LIBZE2010', 'REG', 'LIBREG', '2003-T1', '2003-T2', '2003-T3',
       '2003-T4', '2004-T1', '2004-T2', '2004-T3', '2004-T4', '2005-T1',
       '2005-T2', '2005-T3', '2005-T4', '2006-T1', '2006-T2', '2006-T3',
       '2006-T4', '2007-T1', '2007-T2', '2007-T3', '2007-T4', '2008-T1',
       '2008-T2', '2008-T3', '2008-T4', '2009-T1', '2009-T2', '2009-T3',
       '2009-T4', '2010-T1', '2010-T2', '2010-T3', '2010-T4', '2011-T1',
       '2011-T2', '2011-T3', '2011-T4', '2012-T1', '2012-T2', '2012-T3',
       '2012-T4', '2013-T1', '2013-T2', '2013-T3', '2013-T4', '2014-T1',
       '2014-T2', '2014-T3', '2014-T4', '2015-T1', '2015-T2', '2015-T3',
       '2015-T4', '2016-T1', '2016-T2', '2016-T3', '2016-T4', '2017-T1',
       '2017-T2', '2017-T3', '2017-T4', '2018-T1', '2018-T2', '2018-T3',
       '2018-T4', '2019-T1', '2019-T2', '2019-T3', '2019-T4', '2020-T1'],
      dtype='object')

In [115]:
#Utiliser la méthode Series.values_count() pour afficher le décompte
#du nombre de zones d’emploies par département.
data['ZE2010'],data['LIBREG'].value_counts()

(0                                                   0050
 1                                                   0051
 2                                                   0052
 3                                                   0053
 4                                                   0054
                              ...
 300                                                 9404
 301                                                 9405
 302                                                 9406
 303                                                 9407
 304    Source : Insee, Estimations de taux de chômage...
 Name: ZE2010, Length: 305, dtype: object,
 Auvergne-Rhône-Alpes          35
 Nouvelle-Aquitaine            31
 Grand-Est                     31
 Occitanie                     30
 Hauts-de-France               26
 Bourgogne-Franche-Comté       23
 Normandie                     20
 Centre-Val-de-Loire           19
 Ile-de-France                 19
 Pays de la Loire              19
 Bretagne                      18
 Provence-Alpes-Côte d'Azur    17
 interrégional                  9
 Corse                          7
 Name: LIBREG, dtype: int64)

In [116]:
#Filtrer et garder toute les ligne du dataframe pour lesquelles le
#département est « Provence-Alpes-Côte d'Azur ».
data[data['LIBREG']=="Provence-Alpes-Côte d'Azur"]

,ZE2010,LIBZE2010,REG,LIBREG,2003-T1,2003-T2,2003-T3,2003-T4,2004-T1,2004-T2,...,2017-T4,2018-T1,2018-T2,2018-T3,2018-T4,2019-T1,2019-T2,2019-T3,2019-T4,2020-T1
280,9301,Digne-les-Bains,93.0,Provence-Alpes-Côte d'Azur,7.5,7.6,7.2,7.6,7.7,7.5,...,10.7,11.0,10.7,10.6,10.4,10.3,10.0,9.8,9.4,9.1
281,9302,Manosque,93.0,Provence-Alpes-Côte d'Azur,10.0,10.1,9.8,9.8,9.9,9.7,...,11.2,11.6,11.4,11.1,10.9,11.0,10.6,10.5,10.0,9.6
282,9303,Briançon,93.0,Provence-Alpes-Côte d'Azur,7.0,7.1,7.0,7.4,7.4,7.4,...,8.2,8.4,8.3,8.4,8.2,8.3,8.3,8.0,7.9,7.5
283,9304,Gap,93.0,Provence-Alpes-Côte d'Azur,7.0,7.0,6.9,7.1,7.3,7.1,...,8.2,8.3,8.3,8.2,8.0,8.0,7.7,7.5,7.2,7.0
284,9305,Cannes-Antibes,93.0,Provence-Alpes-Côte d'Azur,9.5,9.7,9.4,9.5,9.5,9.3,...,9.8,10.1,9.9,9.7,9.5,9.5,9.1,9.1,8.7,8.5
285,9306,Menton Vallée de la Roya,93.0,Provence-Alpes-Côte d'Azur,6.8,6.9,6.7,6.9,6.9,6.7,...,8.3,8.4,8.1,7.8,7.6,7.6,7.3,7.2,6.9,6.7
286,9307,Nice,93.0,Provence-Alpes-Côte d'Azur,8.1,8.1,8.0,8.3,8.3,8.1,...,9.6,9.8,9.6,9.5,9.2,9.2,8.9,8.9,8.4,8.2
287,9308,Aix-en-Provence,93.0,Provence-Alpes-Côte d'Azur,9.2,9.4,9.2,9.3,9.4,9.0,...,8.4,8.6,8.5,8.3,8.1,8.0,7.7,7.7,7.3,7.0
288,9309,Arles,93.0,Provence-Alpes-Côte d'Azur,11.1,11.4,11.1,11.4,11.5,11.0,...,12.4,12.5,12.5,12.3,11.7,11.8,11.4,11.4,11.0,10.7
289,9310,Marseille-Aubagne,93.0,Provence-Alpes-Côte d'Azur,11.6,11.8,11.4,11.6,11.7,11.3,...,11.5,11.9,11.7,11.6,11.2,11.2,10.8,10.7,10.3,9.9
290,9311,Istres-Martigues,93.0,Provence-Alpes-Côte d'Azur,10.3,10.5,10.3,10.5,10.5,10.2,...,10.8,11.1,10.8,10.7,10.2,10.3,10.1,9.9,9.6,9.2
291,9312,Salon-de-Provence,93.0,Provence-Alpes-Côte d'Azur,10.7,10.8,10.4,10.6,10.7,10.3,...,10.4,10.6,10.4,10.3,10.0,10.0,9.7,9.5,9.1,8.7
292,9313,Draguignan,93.0,Provence-Alpes-Côte d'Azur,11.4,11.4,11.2,11.4,11.3,11.1,...,11.6,12.0,11.8,11.5,11.2,11.2,10.9,10.8,10.2,9.8
293,9314,Fréjus-Saint Raphaël,93.0,Provence-Alpes-Côte d'Azur,10.0,10.1,10.1,10.6,10.9,11.0,...,11.7,12.2,11.9,11.7,11.5,11.5,11.1,11.0,10.5,10.3
294,9315,Toulon,93.0,Provence-Alpes-Côte d'Azur,10.6,10.6,10.3,10.5,10.6,10.4,...,9.5,9.7,9.6,9.5,9.3,9.3,8.9,8.8,8.4,8.1
295,9316,Cavaillon-Apt,93.0,Provence-Alpes-Côte d'Azur,9.3,9.2,8.9,9.1,9.1,9.0,...,11.9,12.1,11.9,11.8,11.4,11.7,11.2,11.2,10.7,10.3
296,9317,Orange,93.0,Provence-Alpes-Côte d'Azur,9.7,9.6,9.2,9.3,9.4,9.3,...,12.0,12.2,12.1,12.0,11.7,11.6,11.3,11.2,10.5,10.1

In [117]:
#Assigner ce nouveau dataframe à data2 et affiché le.
data2=data[data['LIBREG']=="Provence-Alpes-Côte d'Azur"]
print(data2)

    ZE2010                 LIBZE2010   REG                      LIBREG  \
280   9301           Digne-les-Bains  93.0  Provence-Alpes-Côte d'Azur
281   9302                  Manosque  93.0  Provence-Alpes-Côte d'Azur
282   9303                  Briançon  93.0  Provence-Alpes-Côte d'Azur
283   9304                       Gap  93.0  Provence-Alpes-Côte d'Azur
284   9305            Cannes-Antibes  93.0  Provence-Alpes-Côte d'Azur
285   9306  Menton Vallée de la Roya  93.0  Provence-Alpes-Côte d'Azur
286   9307                      Nice  93.0  Provence-Alpes-Côte d'Azur
287   9308           Aix-en-Provence  93.0  Provence-Alpes-Côte d'Azur
288   9309                     Arles  93.0  Provence-Alpes-Côte d'Azur
289   9310         Marseille-Aubagne  93.0  Provence-Alpes-Côte d'Azur
290   9311          Istres-Martigues  93.0  Provence-Alpes-Côte d'Azur
291   9312         Salon-de-Provence  93.0  Provence-Alpes-Côte d'Azur
292   9313                Draguignan  93.0  Provence-Alpes-Côte d'Azur
293   9314      Fréjus-Saint Raphaël  93.0  Provence-Alpes-Côte d'Azur
294   9315                    Toulon  93.0  Provence-Alpes-Côte d'Azur
295   9316             Cavaillon-Apt  93.0  Provence-Alpes-Côte d'Azur
296   9317                    Orange  93.0  Provence-Alpes-Côte d'Azur

     2003-T1  2003-T2  2003-T3  2003-T4  2004-T1  2004-T2  ...  2017-T4  \
280      7.5      7.6      7.2      7.6      7.7      7.5  ...     10.7
281     10.0     10.1      9.8      9.8      9.9      9.7  ...     11.2
282      7.0      7.1      7.0      7.4      7.4      7.4  ...      8.2
283      7.0      7.0      6.9      7.1      7.3      7.1  ...      8.2
284      9.5      9.7      9.4      9.5      9.5      9.3  ...      9.8
285      6.8      6.9      6.7      6.9      6.9      6.7  ...      8.3
286      8.1      8.1      8.0      8.3      8.3      8.1  ...      9.6
287      9.2      9.4      9.2      9.3      9.4      9.0  ...      8.4
288     11.1     11.4     11.1     11.4     11.5     11.0  ...     12.4
289     11.6     11.8     11.4     11.6     11.7     11.3  ...     11.5
290     10.3     10.5     10.3     10.5     10.5     10.2  ...     10.8
291     10.7     10.8     10.4     10.6     10.7     10.3  ...     10.4
292     11.4     11.4     11.2     11.4     11.3     11.1  ...     11.6
293     10.0     10.1     10.1     10.6     10.9     11.0  ...     11.7
294     10.6     10.6     10.3     10.5     10.6     10.4  ...      9.5
295      9.3      9.2      8.9      9.1      9.1      9.0  ...     11.9
296      9.7      9.6      9.2      9.3      9.4      9.3  ...     12.0

     2018-T1  2018-T2  2018-T3  2018-T4  2019-T1  2019-T2  2019-T3  2019-T4  \
280     11.0     10.7     10.6     10.4     10.3     10.0      9.8      9.4
281     11.6     11.4     11.1     10.9     11.0     10.6     10.5     10.0
282      8.4      8.3      8.4      8.2      8.3      8.3      8.0      7.9
283      8.3      8.3      8.2      8.0      8.0      7.7      7.5      7.2
284     10.1      9.9      9.7      9.5      9.5      9.1      9.1      8.7
285      8.4      8.1      7.8      7.6      7.6      7.3      7.2      6.9
286      9.8      9.6      9.5      9.2      9.2      8.9      8.9      8.4
287      8.6      8.5      8.3      8.1      8.0      7.7      7.7      7.3
288     12.5     12.5     12.3     11.7     11.8     11.4     11.4     11.0
289     11.9     11.7     11.6     11.2     11.2     10.8     10.7     10.3
290     11.1     10.8     10.7     10.2     10.3     10.1      9.9      9.6
291     10.6     10.4     10.3     10.0     10.0      9.7      9.5      9.1
292     12.0     11.8     11.5     11.2     11.2     10.9     10.8     10.2
293     12.2     11.9     11.7     11.5     11.5     11.1     11.0     10.5
294      9.7      9.6      9.5      9.3      9.3      8.9      8.8      8.4
295     12.1     11.9     11.8     11.4     11.7     11.2     11.2     10.7
296     12.2     12.1     12.0     11.7     11.6     11.3     11.2     10.5

     2020-T1
280      9.1
281      9.6
282      7.5
283      7.0
284      8.5
285      6.7
286      8.2
287      7.0
288     10.7
289      9.9
290      9.2
291      8.7
292      9.8
293     10.3
294      8.1
295     10.3
296     10.1

[17 rows x 73 columns]

In [118]:
#Utiliser la méthode Series.values_count() pour afficher combien de
#fois une zone d’emploie apparait en « Provence-Alpes-Côte d'Azur ».
data2['LIBZE2010'].value_counts()

Aix-en-Provence             1
Briançon                    1
Menton Vallée de la Roya    1
Marseille-Aubagne           1
Digne-les-Bains             1
Istres-Martigues            1
Toulon                      1
Cavaillon-Apt               1
Cannes-Antibes              1
Arles                       1
Nice                        1
Salon-de-Provence           1
Orange                      1
Fréjus-Saint Raphaël        1
Draguignan                  1
Gap                         1
Manosque                    1
Name: LIBZE2010, dtype: int64

In [119]:
#• Créer un objet indiquant avec des booléens si le taux de chômage pour le 1ere trimestre
#2020 est supérieur à 7.1
#Assigner le résultat à la variable « data_t1_2020 ».
# Pour ce faire vous devrais utiliser « pd.eval() »
print(data['2020-T1']>7.1)

0      False
1       True
2      False
3      False
4      False
       ...
300     True
301     True
302     True
303     True
304    False
Name: 2020-T1, Length: 305, dtype: bool

In [120]:
data_t1_2020 = (data['2020-T1']>7.1)

In [121]:
#Créer un objet indiquant avec des booléens si le taux de chômage pour le 1ere trimestre
#2019 est supérieur à 7.1
#Assigner le résultat à la variable « data_t1_2019 ».

In [122]:
print(data['2019-T1']>7.1)

0      False
1       True
2       True
3      False
4       True
       ...
300     True
301     True
302     True
303     True
304    False
Name: 2019-T1, Length: 305, dtype: bool

In [123]:

data_t1_2019 = (data['2019-T1']>7.1)

In [124]:
 #Créer un objet indiquant avec des booléens si le taux de chômage pour le 1ere trimestre
#2018 est supérieur à 7.1
#Assigner le résultat à la variable « data_t1_2018 ».
print(data['2018-T1']>7.1)

0       True
1       True
2       True
3      False
4       True
       ...
300     True
301     True
302     True
303     True
304    False
Name: 2018-T1, Length: 305, dtype: bool

In [125]:

data_t1_2018 = (data['2018-T1']>7.1)

In [126]:
#Combiner les trois objets Series avec l’operateur «  » et assigné le résultat à la variable
#« data_7_1 ».
data_7_1 = data_t1_2018 & data_t1_2019 & data_t1_2020
print(data_7_1)

0      False
1       True
2      False
3      False
4      False
       ...
300     True
301     True
302     True
303     True
304    False
Length: 305, dtype: bool

In [127]:
#data_7_1 est une liste. Assigné là à un dataframe dont le nom de colonne sera
#« booleen ».
df=pd.DataFrame({'booleen': data_7_1})
print(df)

     booleen
0      False
1       True
2      False
3      False
4      False
..       ...
300     True
301     True
302     True
303     True
304    False

[305 rows x 1 columns]

In [128]:
#Afficher les valeurs unique et combien de fois elle apparaissent dans la colonnes
df['booleen'].value_counts()

True     163
False    142
Name: booleen, dtype: int64

In [129]:
#Charger le fichier « pole_emploi.xlsx » après l’avoir ouvert et visualiser et l’assigner à la
#variable « p_emploi ».
#• Vous ne pouvez pas utiliser les noms de colonnes contenus dans le fichier.
import pandas as pd
p_emploi = pd.read_excel('/home/simplon/Téléchargements/pole_emploi.xlsx',0,skiprows=3
)
print (p_emploi)

    Code                     Libellé  Pôle emploi 2018
0      1                  Guadeloupe                17
1      2                  Martinique                11
2      3                      Guyane                 8
3      4                  La Réunion                17
4      6                     Mayotte                 3
5     11               Île-de-France               164
6     24         Centre-Val de Loire               116
7     27     Bourgogne-Franche-Comté               165
8     28                   Normandie               145
9     32             Hauts-de-France               171
10    44                   Grand Est               238
11    52            Pays de la Loire               104
12    53                    Bretagne                91
13    75          Nouvelle-Aquitaine               251
14    76                   Occitanie               262
15    84        Auvergne-Rhône-Alpes               294
16    93  Provence-Alpes-Côte d'Azur               145
17    94                       Corse                31

In [131]:

#Joindre les data et p_emploi au seins d’un seul et unique dataframe en faisant
#correspondre les régions par leur codes.
#Utiliser pd.merge() pour réaliser cette jointure
p_emploi.sort_values(by=['Code'])
data.sort_values(by=['REG'])
dataensemble=p_emploi.merge(data, how='right', left_on='Code', right_on='REG')
print(dataensemble)

     Code        Libellé  Pôle emploi 2018  \
0    11.0  Île-de-France             164.0
1    11.0  Île-de-France             164.0
2    11.0  Île-de-France             164.0
3    11.0  Île-de-France             164.0
4    11.0  Île-de-France             164.0
..    ...            ...               ...
300   NaN            NaN               NaN
301   NaN            NaN               NaN
302   NaN            NaN               NaN
303   NaN            NaN               NaN
304   NaN            NaN               NaN

                                                ZE2010  \
0                                                 1101
1                                                 1102
2                                                 1103
3                                                 1104
4                                                 1105
..                                                 ...
300                                               0055
301                                               0056
302                                               0057
303                                               0059
304  Source : Insee, Estimations de taux de chômage...

                     LIBZE2010   REG         LIBREG  2003-T1  2003-T2  \
0                        Paris  11.0  Ile-de-France      8.4      8.7
1              Marne-la-Vallée  11.0  Ile-de-France      6.5      6.8
2                  Coulommiers  11.0  Ile-de-France      6.2      6.6
3                        Meaux  11.0  Ile-de-France      6.3      6.7
4                        Melun  11.0  Ile-de-France      6.2      6.6
..                         ...   ...            ...      ...      ...
300  Vallée de la Bresle-Vimeu   0.0  interrégional      7.6      7.6
301      Roissy - Sud Picardie   0.0  interrégional      8.9      9.2
302         Brive-la-Gaillarde   0.0  interrégional      6.0      6.1
303                    Avignon   0.0  interrégional      9.1      9.3
304                        NaN   NaN            NaN      NaN      NaN

     2003-T3  ...  2017-T4  2018-T1  2018-T2  2018-T3  2018-T4  2019-T1  \
0        8.7  ...      7.7      7.9      7.8      7.7      7.4      7.4
1        6.9  ...      6.9      7.1      7.0      6.9      6.7      6.7
2        6.5  ...      7.0      7.4      7.2      7.0      6.5      6.5
3        6.8  ...      8.5      8.9      8.9      8.8      8.5      8.4
4        6.7  ...      7.3      7.5      7.5      7.4      7.2      7.2
..       ...  ...      ...      ...      ...      ...      ...      ...
300      7.8  ...      9.0      9.2      9.1      9.2      8.9      9.0
301      9.2  ...      9.8     10.1     10.0      9.8      9.5      9.5
302      6.0  ...      7.8      8.2      8.1      8.0      7.7      7.7
303      9.1  ...     11.0     11.2     11.1     11.0     10.7     10.8
304      NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN

     2019-T2  2019-T3  2019-T4  2020-T1
0        7.2      7.3      6.9      6.7
1        6.5      6.5      6.3      6.2
2        6.3      6.4      6.1      5.8
3        8.1      8.2      7.9      7.7
4        7.0      7.1      6.8      6.7
..       ...      ...      ...      ...
300      8.7      8.6      8.4      8.1
301      9.2      9.2      8.9      8.7
302      7.5      7.6      7.3      7.1
303     10.4     10.4     10.0      9.6
304      NaN      NaN      NaN      NaN

[305 rows x 76 columns]

In [142]:
#Créer une colonne quantile dans p_emploi qui prendra les valeurs [‘q25’, ‘q50’, ‘q75’,
#‘q100’] en fonction du quartile auquel appartient le nombre de pôle emploi. Pour se faire
#utiliser « pd.qcut() ».
dataensemble['quantile']=pd.qcut(dataensemble['Pôle emploi 2018'],q=4,labels=['q25', 'q50', 'q75','q100'])
print(dataensemble)

     Code        Libellé  Pôle emploi 2018  \
0    11.0  Île-de-France             164.0
1    11.0  Île-de-France             164.0
2    11.0  Île-de-France             164.0
3    11.0  Île-de-France             164.0
4    11.0  Île-de-France             164.0
..    ...            ...               ...
300   NaN            NaN               NaN
301   NaN            NaN               NaN
302   NaN            NaN               NaN
303   NaN            NaN               NaN
304   NaN            NaN               NaN

                                                ZE2010  \
0                                                 1101
1                                                 1102
2                                                 1103
3                                                 1104
4                                                 1105
..                                                 ...
300                                               0055
301                                               0056
302                                               0057
303                                               0059
304  Source : Insee, Estimations de taux de chômage...

                     LIBZE2010   REG         LIBREG  2003-T1  2003-T2  \
0                        Paris  11.0  Ile-de-France      8.4      8.7
1              Marne-la-Vallée  11.0  Ile-de-France      6.5      6.8
2                  Coulommiers  11.0  Ile-de-France      6.2      6.6
3                        Meaux  11.0  Ile-de-France      6.3      6.7
4                        Melun  11.0  Ile-de-France      6.2      6.6
..                         ...   ...            ...      ...      ...
300  Vallée de la Bresle-Vimeu   0.0  interrégional      7.6      7.6
301      Roissy - Sud Picardie   0.0  interrégional      8.9      9.2
302         Brive-la-Gaillarde   0.0  interrégional      6.0      6.1
303                    Avignon   0.0  interrégional      9.1      9.3
304                        NaN   NaN            NaN      NaN      NaN

     2003-T3  ...  2018-T1  2018-T2  2018-T3  2018-T4  2019-T1  2019-T2  \
0        8.7  ...      7.9      7.8      7.7      7.4      7.4      7.2
1        6.9  ...      7.1      7.0      6.9      6.7      6.7      6.5
2        6.5  ...      7.4      7.2      7.0      6.5      6.5      6.3
3        6.8  ...      8.9      8.9      8.8      8.5      8.4      8.1
4        6.7  ...      7.5      7.5      7.4      7.2      7.2      7.0
..       ...  ...      ...      ...      ...      ...      ...      ...
300      7.8  ...      9.2      9.1      9.2      8.9      9.0      8.7
301      9.2  ...     10.1     10.0      9.8      9.5      9.5      9.2
302      6.0  ...      8.2      8.1      8.0      7.7      7.7      7.5
303      9.1  ...     11.2     11.1     11.0     10.7     10.8     10.4
304      NaN  ...      NaN      NaN      NaN      NaN      NaN      NaN

     2019-T3  2019-T4  2020-T1  quantile
0        7.3      6.9      6.7       q50
1        6.5      6.3      6.2       q50
2        6.4      6.1      5.8       q50
3        8.2      7.9      7.7       q50
4        7.1      6.8      6.7       q50
..       ...      ...      ...       ...
300      8.6      8.4      8.1       NaN
301      9.2      8.9      8.7       NaN
302      7.6      7.3      7.1       NaN
303     10.4     10.0      9.6       NaN
304      NaN      NaN      NaN       NaN

[305 rows x 77 columns]

In [141]:
#Générer un pivot de table montrant la moyenne du taux de chômage du trimestre 1 de
#l’année 2020 pour chaque régions et quantile du nombre de pôle emploi.
#Appeler la méthode pivot_table () sur le data frame
#Passer au paramètre « index » la valeur « LIBREG ».
#Passer au paramètre « columns » la valeur « quantile ».
#Passer au paramètre « values » la valeur «2020-T1 »
#Afficher les résultats.
pd.pivot_table(dataensemble,index=['LIBREG'],columns=['quantile'],values=['2020-T1'])

                             2020-T1
quantile                         q25       q50       q75      q100
LIBREG
Auvergne-Rhône-Alpes             NaN       NaN       NaN  6.728571
Bourgogne-Franche-Comté          NaN  6.565217       NaN       NaN
Bretagne                    6.661111       NaN       NaN       NaN
Centre-Val-de-Loire         7.684211       NaN       NaN       NaN
Corse                       8.514286       NaN       NaN       NaN
Grand-Est                        NaN       NaN  7.264516       NaN
Hauts-de-France                  NaN  9.911538       NaN       NaN
Ile-de-France                    NaN  6.794737       NaN       NaN
Normandie                   7.150000       NaN       NaN       NaN
Nouvelle-Aquitaine               NaN       NaN  7.293548       NaN
Occitanie                        NaN       NaN       NaN  9.603333
Pays de la Loire            6.563158       NaN       NaN       NaN
Provence-Alpes-Côte d'Azur  8.864706       NaN       NaN       NaN